[Unit]
Description=Slurm application XPASTE
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/app/
ExecStartPre=/bin/bash -lc 'source /opt/rh/rh-ruby25/enable; SECRET_KEY_BASE={{SECRET_KEY_BASE}} RAILS_ENV={{RAILS_ENV}} RAILS_LOG_TO_STDOUT={{RAILS_LOG_TO_STDOUT}} DB_HOST={{DB_HOST}} DB_PORT={{DB_PORT}} DB_NAME={{DB_NAME}} DB_USER={{DB_USER}} DB_PASSWORD={{DB_PASSWORD}} bundle exec rake db:migrate'
ExecStart=/bin/bash -lc 'source /opt/rh/rh-ruby25/enable; SECRET_KEY_BASE={{SECRET_KEY_BASE}} RAILS_ENV={{RAILS_ENV}} RAILS_LOG_TO_STDOUT={{RAILS_LOG_TO_STDOUT}} DB_HOST={{DB_HOST}} DB_PORT={{DB_PORT}} DB_NAME={{DB_NAME}} DB_USER={{DB_USER}} DB_PASSWORD={{DB_PASSWORD}} bundle exec puma -b unix:/var/run/puma.sock -e $RAILS_ENV config.ru'

[Install]
WantedBy=multi-user.target